---
import Layout from '../components/layout/Layout.astro';
import RosterTable from '../components/roster/RosterTable.astro';
---

<Layout title="Guild Roster">
  <div class="mx-auto animate-fade-in">
    <RosterTable />
  </div>
</Layout>
